<div class="container">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Sr. No.</th>
            <th scope="col">Title</th>
            <th scope="col">Completion</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dummyData; let i = index; trackBy: trackById">
            <td>{{i+1}}</td>
            <td>{{data.title}}</td>
            <td>{{data.completed}}</td>
            <td><button type="button" class="btn btn-danger" (click)=deleteItem(i)>X</button></td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-secondary btn-block" (click)="fetchData()" *ngIf="!allDataLoaded">
        <ng-container *ngIf="loading; else loadMoreText">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Loading...
        </ng-container>
        <ng-template #loadMoreText>
          Load More
        </ng-template>
        
      </button>
</div>