.card {
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;
}
@media(max-width: 780px){
    .card {
        max-width: 500px;
      }
}

.btn:disabled{
    pointer-events: fill;
    cursor:not-allowed;
}