<div class="card mt-4">
    <div class="card-header">
        <h2>Summary</h2>
    </div>
    <div class="card-body">
        <p class="card-text">Total Transactions: {{ totalTransactions }} </p>
        <p class="card-text">Total Amount: {{ totalAmount }} </p>
        <ul>
            <li *ngFor="let transaction of transactions">
              {{ transaction.date | date }}: {{ transaction.category }} - {{ transaction.amount | currency: '&#8377;' }}
            </li>
          </ul>
    </div>
</div>